/**
 * Css required for CMS project
 * Below are the class & properties used in this project:
 *  - Home background color: #d8d8d8
 *
 * */
html, body {
    height: 100%;
}
body {
    color: #5c5b5c;
}
a, a:focus, a:hover {
    color: #5c5b5c;
}
/**
 * AngularUi Bootstrap fix css
 * */
.nav, .pagination, .carousel, .panel-title a {
    cursor: pointer;
}
/* End of AngularUi*/
.cms-body {
    width: 100%;
}
.cms-row-fluid {
    word-wrap: break-word;
}
.cms-login-page main {
    display: table-row;
}
.cms-main-container {
    height: 100%;
    border-top: #979797 1px solid;
}
.form-control {
    border-radius: 0px;
}
.form-control, button.btn-default {
    border-color: #979797;
}
.cms-vertical-center-parent {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    align-items: center;
    height: 100%;
}
.cms-padding-left-ten {
    padding-left: 10px;
}
.cms-padding-right-ten {
    padding-right: 10px;
}
.cms-margin-top-zero {
    margin-top: 0px;
}
.cms-login-page {
    display: table;
}
.cms-login-page main, .cms-login-page .container-fluid {
    height: 100%;
}

.cms-login-container {
    margin-right: 40px;
}
.cms-login-form {
    padding: 15px;
    padding-bottom: 0px;
}
.cms-login-block {
    background-color: #FFFFFF;
    padding: 5px 20px;
    border-radius: 0px;
    border: #979797 1px solid;
}
.cms-login-page-backgroundcolor {
    background-color: #D8D8D8;
    background-image: url('../images/LoginPageImage.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.cms-login-logo-container {
    text-align: center;
    margin-bottom: 15px;
}
/************
 * Header
 ************
 */

.cms-headerbackground {
    background-color: #363940;
}
.cms-headerfont > a {
    font-family: sans-serif;
    font-weight: bold;
    color: white;
    padding: 4px 7px 2px 4px;
}

.cms-logopanel {
    padding-top: 6px;
    padding-bottom: 6px;
}

.cms-searchpanel {
    padding: 15px 7px 2px 14px;
}

.cms-menupanel {
    padding-top: 0px;
    padding-bottom: 5px;
    padding-left: 0px;
}
.cms-logo {
    width: 70%;
}
.cms-menupanel .nav > li > a {
    padding-top: 0px;
    padding-bottom: 0px;
    border-radius: 0px;
}
.cms-menupanel  .nav > li > a:focus, .cms-menupanel  .nav > li > a:hover {
    background-color: transparent;
}

.cms-horizontal-menu > span {
    padding-left: 20px;
}

.cms-red-btn-search {
    background-color: #C3161C;
    color: #FFFFFF;
}

/* Header - end*/

/************
 * FOOTER
 * **********
 */

.cms-footer-right div {
    padding-right: 15px;
}
/************
 * Content area
 *************
 * */
.cms-main-container-row {
    display: -ms-flexbox;
    display: -webkit-flex;
    -webkit-flex-wrap: wrap;
    display: flex;
    flex-wrap: wrap;
    height: 100%;
}
.cms-main-container-row > [class*='col-'] {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
}
.cms-sidebar {
    border-right: #979797 1px solid;
    padding-bottom: 20px;
}
td.cms-main-display-center {
    text-align: center;
}
.cms-main {
    padding-bottom: 20px;
}

.cms-sub-main {
    margin-right: 20px;
    margin-top: 20px;
}
.cms-sub-main-2 {
    margin-right: 20px;
    margin-bottom: 20px;
}
.cms-content-tile-view-container thead {
    display: none;
}
.cms-content-tile-view-container table, .cms-content-tile-view-container tbody, .cms-content-tile-view-container .table-bordered > tbody > tr, .cms-content-tile-view-container .table-bordered > tbody > tr > td {
    border: none;
    background-color: transparent;
}
.cms-content-tile {
    margin-bottom: 30px;
}
.cms-content-tile-view {
    width: 100%;
}

.cms-content-tile-image {
    position: relative;
    width: 100%;
    display: inline-block;
}
.cms-content-tile-image-dummy {
    margin-top: 50%;
}
.cms-content-tile-image-color {
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    top: 0px;
    background-color: #D8D8D8;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50% 50%;
    border: 10px solid #D8D8D8;
}
.cms-content-tile-image-project {
    background-image: url('../images/ProjectFolder.png');
}
.cms-content-tile-image-content {
    background-image: url('../images/EPUB_Icon.png');
}

.cms-content-tile-owner, .cms-content-tile-title, .cms-content-tile-date {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.cms-content-page .ng-table-pager, .cms-projects-page .ng-table-pager {
    display: none;
}

.cms-error-message {
    color: #D8000C;
    background-color: #FFBABA;
}

.cms-error-message-parent:after {
    content: "\00a0";
}
.cms-error-wrapper {
    display: inline-block;
    color: red;
}

.cms.form.submitted .ng-invalid {
    border: 1px solid #f00;
}

.red {
    border: solid 1px red;
}

.cms-successpanel {
    display: table;
    width: 100%;
    height: 100%;
}

.cms-successpanel-row {
    display: table-row;
}

.cms-successpanel-row2 {
    width: 100%;
    height: 100%;
}
.cms-successpanel-row-flex {
    width: 100%;
    height: 100%;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    align-items: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    justify-content: center;
}

.cms-successpanel-row-flex-box {
    margin-bottom: 130px;
}

.cms-vcenter {
    padding-top: 5px;
    display: inline-block;
    vertical-align: middle;
    float: none;
}
/*************
 * Search Page
 *************
 **/
.cms-main-container-search-row, .cms-main-container-search {
    height: 100%;
}
.cms-main-container-search {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    flex-direction: column;
}
.cms-main-container-search-main {
    -webkit-flex-grow: 1;
    -moz-flex-grow: 1;
    flex-grow: 1;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    flex-wrap: wrap;
}
.cms-main-container-search-header {
    padding-top: 15px;
}
.cms-main-container-search-main .cms-sidebar {
    border: none;
}
.cms-main-container-search-main .cms-main {
    padding-top: 30px;
}
.cms-main-container-search-main .ng-table-counts, .cms-main-container-search-main .ng-table-pagination li:first-child, .cms-main-container-search-main .ng-table-pagination li:last-child {
    display: none;
}
.cms-main-container-search-main .ng-table-pagination {
    float: right;
}
/*************
 * End Search Page
 *************
 **/

/*************
 * breadcrumb
 *************
 **/
.cms-breadcrumb {
    background-color: transparent;
    padding: 0;
    font-size: 12px;
}
.cms-breadcrumb > li+ li:before {
    padding: 0 2px;
    color: #5c5b5c;
    content: ">";
}
.cms-breadcrumb > .active {
    color: #5c5b5c;
}
/* End of cms-breadcrumb */

/*
 * Modal Styles
 */
.cms-modal-body {
    padding: 0 50px 20px;
}
/* End of modal styles*/

.project-field {
    position: relative;
}

.loading {
    position: relative;
    color: #999;
}

.loading:after {
    border: 3px solid white;
    border-left-color: green;
    border-right-color: green;
    content: "";
    width: 25px;
    border-radius: 50px;
    height: 25px;
    position: absolute;
    z-index: 1000;
    animation: rotate 0.5s infinite;
    -webkit-animation: rotate 0.5s infinite;
}

@keyframes rotate {
  from { transform:rotate(0deg); }
  to { transform:rotate(360deg); }
}

@-webkit-keyframes rotate {
  from { -webkit-transform:rotate(0deg); }
  to { -webkit-transform:rotate(360deg); }
}

.project-field.loading:after {
    position: absolute;
    top: 0;
    margin-top: 4px;
    right: 7px;
}

.project-field.loading .input {
    border-color: green;
}

.cms-add-remove {
    padding-top: 7px;
}
