<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
  </configSections>
  <connectionStrings>
    <add name="DefaultConnection" providerName="System.Data.SqlClient" connectionString="Data Source=(LocalDb)\v11.0;Initial Catalog=aspnet-Macmillan.CMS.Service-20160429143929;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnet-Macmillan.CMS.Service-20160429143929.mdf" />
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
	  <add key="FileRepository" value="E:\temp"/>
    <add key="ChunkFileRepository" value="E:\temp\ChunkFiles"/>
    
	  <add key="UseProxy" value="true"/>
	  <add key="proxy" value="http://tmbang1.techmahindra.com:8080"/>
	  

	  <!--local-->  	  
    <add key="MarkLogicResourceURL" value="http://localhost:8060/v1/resources/"/>
	  <add key="MarkLogicURL" value="http://localhost:8060/" />
	  <add key="MarkLogic_CRUD_URL" value="http://localhost:8060/v1/resources/" />
	  <add key="MarkLogic_Search_URL" value="http://localhost:8060/search" />
	  <add key="MarkLogic_DICTIONARY_URL" value="http://localhost:8060/v1/resources/dictionary" />
	  <add key="XCC_Connection" value="xcc://admin:admin@localhost:8061/mml-cms-app-content"/>
	  <add key="MarkLogicCredentials" value="admin/admin"/>
	  
	  <add key="AppDataPath" value="D:\CMS Workstation\CMS\services\Macmillan.CMS.Service\App_Data\"/>
	  
  </appSettings>
	 
	
  <!--
    For a description of web.config changes for .NET 4.5 see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5.1" />
    <authentication mode="None" />
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Optimization" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
    <profile defaultProvider="DefaultProfileProvider">
      <providers>
        <add name="DefaultProfileProvider" type="System.Web.Providers.DefaultProfileProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" applicationName="/" />
      </providers>
    </profile>
    <membership defaultProvider="DefaultMembershipProvider">
      <providers>
        <add name="DefaultMembershipProvider" type="System.Web.Providers.DefaultMembershipProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
      </providers>
    </membership>
    <roleManager defaultProvider="DefaultRoleProvider">
      <providers>
        <add name="DefaultRoleProvider" type="System.Web.Providers.DefaultRoleProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" applicationName="/" />
      </providers>
    </roleManager>
    <!--
            If you are deploying to a cloud environment that has multiple web server instances,
            you should change session state mode from "InProc" to "Custom". In addition,
            change the connection string named "DefaultConnection" to connect to an instance
            of SQL Server (including SQL Azure and SQL  Compact) instead of to SQL Server Express.
      -->
    <sessionState mode="InProc" customProvider="DefaultSessionProvider">
      <providers>
        <add name="DefaultSessionProvider" type="System.Web.Providers.DefaultSessionStateProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" />
      </providers>
    </sessionState>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    
  <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers></system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <log4net>
    <root>
      <level value="ALL" />
      <appender-ref ref="RootRFA" />
      <appender-ref ref="RootELA" />
    </root>
    <appender name="RootRFA" type="log4net.Appender.RollingFileAppender">
      <file value=".\Logs\CMS_" />
      <appendToFile value="true" />
      <rollingStyle value="Date" />
      <datePattern value="yyyy.MM.dd'.log'" />
      <maximumFileSize value="10MB" />
      <staticLogFileName value="false" />
      <layout type="log4net.Layout.PatternLayout">
        <!--<conversionPattern value="%property{log4net:HostName} %date (%logger) ==> %message%newline" />-->
        <conversionPattern value="[%property{log4net:HostName}] %date [%thread] [%-5level] %logger ==> %message%newline" />
      </layout>
    </appender>
    <appender name="RootELA" type="log4net.Appender.EventLogAppender,log4net" >
      <threshold value="WARN" />
      <mapping>
        <level value="ERROR" />
        <eventLogEntryType value="Error" />
      </mapping>
      <mapping>
        <level value="WARN" />
        <eventLogEntryType value="Warning" />
      </mapping>
      <mapping>
        <level value="INFO" />
        <eventLogEntryType value="Information" />
      </mapping>
      <mapping>
        <level value="DEBUG" />
        <eventLogEntryType value="Information" />
      </mapping>
      <logName value="CMSService" />
      <applicationName value="CMS" />
      <layout type="log4net.Layout.PatternLayout,log4net">
        <conversionPattern value="[%property{log4net:HostName}] %date [%thread] [%-5level] %logger ==> %message%newline" />
      </layout>
    </appender>
  </log4net>	
</configuration>