<div class="row">
    <div class="col-sm-6">
        <h1>Content</h1>
        <ol class="breadcrumb cms-breadcrumb">
            <li>
                <a href="#">home</a>
            </li>
            <li class="active">
                content
            </li>
        </ol>
    </div>
    <div class="col-sm-6">
        <nav class="pull-right clearfix cms-sub-main">
            <a href="#" ng-click="$event.preventDefault();content.onclickUploadContent();">Upload Content <span class="glyphicon glyphicon-open" aria-hidden="true"></span></a>
        </nav>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="pull-right clearfix cms-sub-main-2">
            <button ng-class="{'active':!projects.listView}" ng-click="content.toggleView(false)">
                <span class="glyphicon glyphicon-th-large" aria-hidden="true"></span>
            </button>
            <button ng-class="{'active':content.listView}" ng-click="content.toggleView(true)">
                <span class="glyphicon glyphicon-align-justify" aria-hidden="true"></span>
            </button>
        </div>
    </div>
</div>
<div class="row"> 
    <div class="col-md-12" ng-class="{'cms-content-tile-view-container':!content.listView}">
        <!--loading-container="content.tableParams.settings().$loading" -->
        <div > 
            <table ng-table="content.tableParams" class="table table-condensed table-bordered table-striped">
                <tr ng-if="content.listView" ng-repeat="issue in $data">
                    <td class="text-capitalize" data-title="'Title'" sortable="content.sortables.Title.sortable">{{issue.Title}}</td>
                    <td data-title="'Filename'" sortable="content.sortables.filePath.sortable">{{issue.filePath}}</td>
                    <td data-title="'Date Modified'" sortable="content.sortables.dateLastModified.sortable">{{issue.dateLastModified}}</td>
                    <td data-title="'View'" class="cms-main-display-center">
                    	
                    	<a ui-sref="contentview({uri:issue.uri})"><span class="glyphicon glyphicon-eye-open"></span></a></td>
                </tr>
                <tr ng-if="!content.listView">
                    <td class="cms-content-tile-view">
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-md-2 cms-content-tile" ng-repeat="issue in $data">
                            <div class="row">
                                <div class="col-xs-12">
                                    <a ui-sref="contentview({uri:issue.uri})">
                                    <div class="cms-content-tile-image">
                                        <div class="cms-content-tile-image-dummy"></div>
                                        <div class="cms-content-tile-image-color"></div>
                                    </div></a>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12 cms-content-tile-title text-capitalize">
                                    <a href="#/contentview">{{issue.Title}}</a>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12 cms-content-tile-date">
                                    {{issue.dateLastModified}}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12 cms-content-tile-owner">
                                    {{issue.username}}
                                </div>
                            </div>
                        </div>
                    </div></td>
                </tr>
            </table>

        </div>
        <div class="pull-right">
            <a ui-sref="search({searchType:'content'})">See all Content</a>
        </div>
    </div>
</div>