<h3 ng-if="!items.edit">Create Project</h3>
<h3 ng-if="items.edit">Edit Project</h3>
<form>
    <div class="form-group">
        <label for="InputProjectName">Title *</label>
        <input type="text" ng-model="data.Title" class="form-control" id="InputProjectName">
    </div>
    <div class="form-group">
        <label for="InputProjectDescription">Description *</label>
        <textarea class="form-control" rows="3"></textarea>
    </div>
    <div class="form-group row">
        <div class="col-md-8">
            <label for="InputProjectState">Project State*</label>
            <select class="form-control">
                <option>In Progress</option>
                <option>Active</option>
                <option>Completed</option>
                <option>Inactive</option>
            </select>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-8">
            <label for="InputProjectSubjects">Subjects</label>
            <input type="text" class="form-control" id="InputProjectSubjects" />
        </div>
    </div>

    <label>Keywords</label>

    <div class="form-group">
        <div>
            <div ng-repeat="keyElement in keywords=(keyword)">
        
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-8">
                            <input type="text" class="form-control" ng-model="projectKeywords[i]" placeholder="keywords" required />
                        </div>
                        <div class="col-md-4">
                            <!--<span ng-show="keywords.length = keywords.length-1">-->
                            <div ng-if="$last">
                                <span>
                                    <span class="glyphicon glyphicon-plus" ng-click="addKeywordField(keyword,$event)"></span>
                                </span>
                            </div>
                            <div ng-if="keywords.length-1==$index + 1">
                                <span ng-hide="$index + 1==keywords.length <=1">
                                    <span class="glyphicon glyphicon-minus" ng-click="keyword.splice($index, 1)"></span>
                                </span>
                            </div>
                            

                            </div>
                    </div>
                </div>

            </div>
          
        </div>
    </div>
    
    <p class="text-center">
        <button type="submit" class="btn btn-default" ng-if="!items.edit">
            Create
        </button>
        <button type="submit" class="btn btn-default" ng-if="items.edit">
            Update
        </button>
    </p>
</form>