<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <h3 ng-if="!items.edit">Upload Content</h3>
    <h3 ng-if="items.edit">Edit Content</h3>
    <form name="projectForm" ng-submit="submit()">
        <div class="form-group">
            <label for="InputProjectName">Select File</label>
            <input type="file" filelist-bind name="files" class="filestyle" />
        </div>
        
        <div class="form-group">
            <label for="InputProjectName">Title *</label>
            <input class="form-control" type="text" id="InputProjectName"
                   ng-model="data.Title"
                   ng-class="{red: projectForm.projectTitle.$invalid &&  projectForm.projectTitle.$touched && !projectForm.projectDescription.$focused}"
                   name="projectTitle"
                   required="">
        </div>
        <div class="form-group">
            <label for="InputProjectDescription">Description *</label>
            <textarea class="form-control" id="projectDescription"
                      ng-model="data.description"
                      ng-class="{red: projectForm.projectDescription.$invalid &&  projectForm.projectDescription.$touched && !projectForm.projectDescription.$focused}"
                      name="projectDescription"
                      rows="3" required=""></textarea>
        </div>
        <div class="form-group row">
            <div class="col-md-8">
                <label for="InputProjectState">Source*</label>
                <select class="form-control" name="projectState" id="contentPublisher">
                    <option>Book</option>
                    <option>Internet</option>
                </select>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-md-8">
                <label for="InputProjectState">Publisher*</label>
                <select class="form-control" name="projectState" id="contentPublisher">
                    <option>Worth Publisher</option>
                    <option>North Publisher</option>
                </select>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-md-8">
                <label for="InputProjectState">Vender State*</label>
                <select class="form-control" name="projectState" id="contentPublisher">
                    <option>Vender</option>
                    <option>Publisher</option>
                </select>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-md-8">
                <label for="InputProjectState">Projects</label>     
                
                <button class="glyphicon glyphicon-plus" ng-click="addField()"></button>

                <!--<div ng-repeat="field in data.fields">
                    <div demo-display="field" demo-days="days"></div>
                </div>
                <tt>{{data.fields}}</tt>-->
                            <br />
                <div>

                    <div ng-repeat="field in data.fields">                        
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-8">                                   
                                        <div demo-display="field" demo-days="days"></div>
                                </div>
                                <div class="col-md-4">
                                    <div ng-if="$last">
                                        <span>
                                            <span class="glyphicon glyphicon-plus" ng-click="addField()"></span>
                                        </span>
                                    </div>
                                    <div ng-if="!$last">
                                        <span>
                                            <span class="glyphicon glyphicon-minus" ng-click="data.fields.splice($index, 1)"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    
                </div>            
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-8">
                <label for="InputProjectSubjects">Subjects</label>
                <select class="form-control" name="projectSubject" id="projectSubjects"
                        ng-model="data.subjectHeadings"
                        multiple ng-options="status.subjectHeading for status in statuses track by status.subjectHeading"></select>

            </div>
        </div>

        <label>Keywords</label>
        
        <div class="form-group">
            <div>
                <div ng-repeat="keyElement in keywords=(data.subjectKeywords)">                   
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-8">
                                <input type="text" class="form-control" ng-model="keyElement.subjectKeyword" placeholder="keywords" />
                            </div>
                            <div class="col-md-4">
                                <div ng-if="$last">
                                    <span>
                                        <span class="glyphicon glyphicon-plus" ng-click="addKeywordField(keyword,$event)"></span>
                                    </span>
                                </div>
                                <div ng-if="!$last">
                                    <span>
                                        <span class="glyphicon glyphicon-minus" ng-click="keyword.splice($index, 1)"></span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <p class="text-center">
            <button type="submit" class="btn btn-default" ng-if="!items.edit" ng-disabled="projectForm.$invalid">
                Upload
            </button>
            <button type="submit" class="btn btn-default" ng-if="items.edit" ng-disabled="projectForm.$invalid">
                Update
            </button>
        </p>
    </form>
</body>
</html>
