<h3>Upload Content</h3>
<div >
<form name="contentForm" ng-submit="submit()" flow-init="{headers:{'X-Auth-Token':authToken, 'X-userSession':userSession}}" flow-file-added="checkFileType($file.getExtension())" flow-name="uploader.flow" flow-files-submitted="readytoUpload( $files, $event, $flow )" flow-file-error="failedUpload()" flow-complete="uploadCompleted()" novalidate>
    <div class="form-group">
        <label for="InputContentFile">Select File*</label>
        <span flow-btn class="btn btn-default" flow-attrs="{'id':'InputContentFile','name':'contentFile','required':'', 'validFile':''}" 
        ng-class="{red: $flow.files.length===0}">
            Browse
        </span>
        <div class="row cms-row-fluid" ng-repeat="file in $flow.files" ng-if="$flow && $flow.files.length!==0">
            <div class="col-xs-6">{{file.relativePath}}</div>
            <div class="col-xs-4">({{file.size/1024 | number:2}} KB)</div>
            <div class="col-xs-2"><span class="glyphicon glyphicon-remove-circle" ng-click="$flow.removeFile(file)"></span></div>
        </div>
    </div>
    <div class="form-group">
        <label for="InputContentName">Title*</label>
        <input class="form-control" type="text" id="InputContentName"
        ng-model="data.Title"
        ng-class="{red: contentForm.contentTitle.$invalid &&  contentForm.contentTitle.$touched && !contentForm.contentTitle.$focused}"
        name="contentTitle"
        required="">
    </div>
    <div class="form-group">
        <label for="InputContentDescription">Description*</label>
        <textarea class="form-control" id="InputContentDescription"
                      ng-model="data.Description"
                      ng-class="{red: contentForm.contentDescription.$invalid && contentForm.contentDescription.$touched && !contentForm.contentDescription.$focused}"
                      name="contentDescription"
                      rows="3" required=""></textarea>
    </div>
    <div class="form-group row">
        <div class="col-md-8">
            <label for="InputContentSource">Source*</label>
            <select class="form-control" name="contentSource" id="InputContentSource"
            ng-model="data.Source"
            ng-options="source for source in sourceData" required="">
                <option ng-selected="true" value="">Select Source</option>
            </select>
        </div>
    </div>
    <label>Creator</label>
    <div class="form-group">
        <div>
            <div ng-repeat="keyElement in data.Creator track by $index">
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-8">
                            <input type="text" class="form-control" ng-model="data.Creator[$index]" placeholder="Creator" />
                        </div>
                        <div class="col-md-4 cms-add-remove">
                            <div ng-if="$last">
                                <span ng-click="addRepeatedField(data.Creator,$event)"> <span class="glyphicon glyphicon-plus" ></span> <u>Add</u> </span>
                                <span ng-if="!$first">/</span>
                                <span ng-if="!$first" ng-click="data.Creator.splice($index, 1)"> <span class="glyphicon glyphicon-minus" ></span> <u>Remove</u> </span>
                            </div>
                            <div ng-if="!$last">
                                <span ng-click="data.Creator.splice($index, 1)"> <span class="glyphicon glyphicon-minus" ></span> <u>Remove</u> </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-8">
            <label for="InputContentPublisher">Publisher*</label>
            <select class="form-control" name="contentPublisher" id="InputContentPublisher"
            ng-model="data.Publisher"
            ng-options="publisher for publisher in publisherData" required="">
                <option ng-selected="true" value="">Select Publisher</option>
            </select>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-8">
            <label for="InputContentVenderState">Version State*</label>
            <select class="form-control" name="contentVenderState" id="InputContentVenderState"
            ng-model="data.ContentState"
            ng-options="version for version in versionData" required="">
                <option ng-selected="true" value="">Select Version State</option>
            </select>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-8">
            <label for="InputContentResourceType">Content Resource Type</label>
            <input class="form-control" type="text" id="InputContentResourceType"
            ng-model="data.ContentResourceType"
            name="ContentResourceType"
            >
        </div>
    </div>
    <label>Projects</label>
    <div class="form-group">
        <div>
            <div ng-repeat="keyElement in data.Projects track by $index">
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-8">
                            <ui-select ng-model="data.Projects[$index]" theme="bootstrap">
                                <ui-select-match placeholder="Select or search a project in the list...">
                                    {{$select.selected.title}}
                                </ui-select-match>
                                <ui-select-choices repeat="item.title as item in ProjectsData | filter: $select.search" refresh-delay="0" refresh="searchProject($select.search)">
                                    <div ng-bind-html="item.title | highlight: $select.search"></div>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                        <div class="col-md-4 cms-add-remove">
                            <div ng-if="$last">
                                <span ng-click="addRepeatedField(data.Projects,$event)"> <span class="glyphicon glyphicon-plus" ></span> <u>Add</u> </span>
                                <span ng-if="!$first">/</span>
                                <span ng-if="!$first" ng-click="data.Projects.splice($index, 1)"> <span class="glyphicon glyphicon-minus" ></span> <u>Remove</u> </span>
                            </div>
                            <div ng-if="!$last">
                                <span ng-click="data.Projects.splice($index, 1)"> <span class="glyphicon glyphicon-minus" ></span> <u>Remove</u> </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-8">
            <label for="InputContentSubjects">Subjects</label>
            <select class="form-control" name="contentSubject" id="InputContentSubjects"
            ng-model="data.SubjectHeadings"
            multiple ng-options="status for status in subjectHeadingsData"></select>
        </div>
    </div>
    <label>Keywords</label>
    <div class="form-group">
        <div>
            <div ng-repeat="keyElement in data.SubjectKeywords track by $index">
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-8">
                            <input type="text" class="form-control" ng-model="data.SubjectKeywords[$index]" placeholder="keywords" />
                        </div>
                        <div class="col-md-4 cms-add-remove">
                            <div ng-if="$last">
                                <span ng-click="addRepeatedField(data.SubjectKeywords,$event)"> <span class="glyphicon glyphicon-plus" ></span> <u>Add</u> </span>
                                <span ng-if="!$first">/</span>
                                <span ng-if="!$first" ng-click="data.SubjectKeywords.splice($index, 1)"> <span class="glyphicon glyphicon-minus" ></span> <u>Remove</u> </span>
                            </div>
                            <div ng-if="!$last">
                                <span ng-click="data.SubjectKeywords.splice($index, 1)"> <span class="glyphicon glyphicon-minus" ></span> <u>Remove</u> </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <p class="text-center">
        <button type="submit" class="btn btn-default" ng-disabled="contentForm.$invalid || !($flow && $flow.files.length)">
            Upload
        </button>
    </p>
</form>
