<h3>Download Content</h3>
<form>
    
    <form name="downloadContent" novalidate> 
    <div class="form-group">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">                
                 <textarea class="form-control" ng-model="noteText" name="noteText" rows="3"></textarea>
            </div>
            
        </div>
    </div>
    <p class="text-center">
        <button type="submit" ng-click="downloadContent()"  ng-disabled="!(noteText)" class="btn btn-default">
            Download
        </button>
        
    </p>
    </form>
</form>