<h3 ng-bind="items.facetObj.facetTitle"></h3>
<div class="form-group">
    <label for="filter">Filter</label>
    <input type="text" ng-model="items.filter" class="form-control" id="filter">
</div>
<div class="row">
    <div class="col-sm-12">
        <ul class="list-unstyled">
            <li ng-repeat="facetitems in items.facetObj.facetArray | filter : items.filter">
                <a ui-sref="search({searchType: items.searchType,facet:prepareFacetUri(items.facetObj.facetTitle+':'+facetitems.name)})" ng-click="cancel()" ng-bind="facetitems.name + ' ('+facetitems.count+')'"></a>
            </li>
        </ul>
    </div>
</div>
