<h3 ng-if="!items.edit">Create Project</h3>
<h3 ng-if="items.edit">Edit Project</h3>
<form name="projectForm" ng-submit="submit()">
        
    <div class="form-group">
        <label for="InputProjectName">Title *</label>
        <input class="form-control" type="text" id="InputProjectName"
               ng-model="data.Title"
               ng-class="{red: projectForm.projectTitle.$invalid &&  projectForm.projectTitle.$touched && !projectForm.projectDescription.$focused}"
               name="projectTitle"
               required="">
    </div>
    <div class="form-group">
        <label for="InputProjectDescription">Description *</label>
        <textarea class="form-control" id="projectDescription"
                  ng-model="data.Description"
                  ng-class="{red: projectForm.projectDescription.$invalid &&  projectForm.projectDescription.$touched && !projectForm.projectDescription.$focused}"
                  name="projectDescription"
                  rows="3" required=""></textarea>
    </div>
    <div class="form-group row">
        <div class="col-md-8">
            <label for="InputProjectState">Project State*</label>       
            <select class="form-control" name="projectState" id="projectState" ng-model = "data.ProjectState" 
                    ng-class="{red: projectForm.projectState.$invalid &&  projectForm.projectState.$touched && !projectForm.projectState.$focused}"
                    required ng-options="states for states in projectStates">
                <!-- option ng-repeat="item in list" ng-selected="{{selected.label == item.label}}">{{item.label}}</option -->
            </select>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-8">
            <label for="InputProjectSubjects">Subjects</label>                     
            <select class="form-control" name="projectSubject" id="projectSubjects"
                    ng-model="data.SubjectHeadings"                    
                    multiple ng-options="status for status in statuses"></select>  
           
        </div>
    </div>

    <label>Keywords</label>
   
    <div class="form-group">
        <div>
            <div ng-repeat="keyElement in data.SubjectKeywords track by $index">             
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-8">
                            <input type="text" class="form-control" ng-model="data.SubjectKeywords[$index]" placeholder="keywords" />
                        </div>
                        <div class="col-md-4">
                            <div ng-if="$last">
                                <span>
                                    <span class="glyphicon glyphicon-plus" ng-click="addKeywordField(data.SubjectKeywords,$event)"></span>
                                </span>
                            </div>
                            <div ng-if="!$last">
                                <span>
                                    <span class="glyphicon glyphicon-minus" ng-click="data.SubjectKeywords.splice($index, 1)"></span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <p class="text-center">
        <button type="submit" class="btn btn-default" ng-if="!items.edit" ng-disabled="projectForm.$invalid">
            Create
        </button>
        <button type="submit" class="btn btn-default" ng-if="items.edit" ng-disabled="projectForm.$invalid">
            Update
        </button>
    </p>
</form>