<div class="cms-titlepanel">
    <div class="row">

        <div class="col-md-6">
            <h1>Project View</h1>
            <!--<div class="cms-titlepanel"></div>-->
            <ol class="breadcrumb cms-breadcrumb">
                <li>
                    <a href="#">home</a>
                </li>
                <li>
                    <a href="#">projects</a>
                </li>
                <li class="active">
                    project view
                </li>
            </ol>

        </div>

        <div class="col-md-6">
            <div class="pull-right clearfix cms-horizontal-menu cms-sub-main">
                <span> <a href="#" ng-click="$event.preventDefault();">Upload Content <span class="glyphicon glyphicon-folder-open"></span></a> </span>
                <span > <a href="#" ng-click="$event.preventDefault(); projects.editProject();">Edit <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a> </span>
                <span > <a href="#" ng-click="$event.preventDefault(); projects.deleteProject()">Delete <span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a> </span>
            </div>
        </div>

    </div>

    <div class="row">
        <div class="col-xs-12 col-md-8">
            <h2>Hockenbury 5e</h2>
        </div>
        <div class="col-xs-6 col-md-4"></div>
    </div>

    <h3> Adminstrative Metadata</h3>
    <ul class="list-unstyled cms-padding-left-ten">
        <li>
            <strong>System ID:</strong> d41d8cd98f00b204e9800998ecf8427e
        </li>
        <li>
            <strong>Project URI:</strong> www.macmillan.com/workflow/projects/Hockenbury5e
        </li>
        <li>
            <strong>Date Created:</strong> 2015-04-15 13:30
        </li>
        <li>
            <strong>Created By:</strong> bcross
        </li>
        <li>
            <strong>Date Modified:</strong> 2015-04-15 13:30
        </li>
        <li>
            <strong>Modified By:</strong> bcross
        </li>

    </ul>

    <h3> Descriptive Metadata </h3>

    <ul class="list-unstyled cms-padding-left-ten">
        <li>
            <strong>Project Name:</strong> Hockenbury 5e
        </li>
        <li>
            <strong>Project Description:</strong> Hockenbury 5 edition of Test Bank for Discovering Psychology
        </li>
        <li>
            <strong>Project State:</strong> Active
        </li>
        <li>
            <strong>Subjects:</strong> Psychology
        </li>
        <li>
            <strong>Keywords:</strong> EPUB3, EDUPUB
        </li>
    </ul>

    <hr />

    <h3>Associated Content</h3>
    <!-- em>There is no content in this project</em -->
    <div class="row">
        <!-- ngRepeat: issue in $data -->
        <div class="col-xs-12 col-sm-6 col-md-2 cms-content-tile ng-scope">
            <div class="row">
                <div class="col-xs-12">
                    <a href="#/projectview">
                    <div class="cms-content-tile-image">
                        <div class="cms-content-tile-image-dummy"></div>
                        <div class="cms-content-tile-image-color"></div>
                    </div></a>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 cms-content-tile-title">
                    <a href="#/projectview" class="ng-binding">Lorem 1</a>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 cms-content-tile-date ng-binding">
                    2015-04-15 13:30
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 cms-content-tile-owner ng-binding">
                    bcross
                </div>
            </div>
        </div><!-- end ngRepeat: issue in $data -->
        <div class="col-xs-12 col-sm-6 col-md-2 cms-content-tile ng-scope" >
            <div class="row">
                <div class="col-xs-12">
                    <a href="#/projectview">
                    <div class="cms-content-tile-image">
                        <div class="cms-content-tile-image-dummy"></div>
                        <div class="cms-content-tile-image-color"></div>
                    </div></a>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 cms-content-tile-title">
                    <a href="#/projectview" class="ng-binding">Lorem 2</a>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 cms-content-tile-date ng-binding">
                    2015-04-16 13:30
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 cms-content-tile-owner ng-binding">
                    bcross1
                </div>
            </div>
        </div><!-- end ngRepeat: issue in $data -->
        <div class="col-xs-12 col-sm-6 col-md-2 cms-content-tile ng-scope" >
            <div class="row">
                <div class="col-xs-12">
                    <a href="#/projectview">
                    <div class="cms-content-tile-image">
                        <div class="cms-content-tile-image-dummy"></div>
                        <div class="cms-content-tile-image-color"></div>
                    </div></a>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 cms-content-tile-title">
                    <a href="#/projectview" class="ng-binding">Lorem 3</a>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 cms-content-tile-date ng-binding">
                    2015-04-17 13:30
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 cms-content-tile-owner ng-binding">
                    bcross2
                </div>
            </div>
        </div><!-- end ngRepeat: issue in $data -->
        <div class="col-xs-12 col-sm-6 col-md-2 cms-content-tile ng-scope" >
            <div class="row">
                <div class="col-xs-12">
                    <a href="#/projectview">
                    <div class="cms-content-tile-image">
                        <div class="cms-content-tile-image-dummy"></div>
                        <div class="cms-content-tile-image-color"></div>
                    </div></a>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 cms-content-tile-title">
                    <a href="#/projectview" class="ng-binding">Lorem 4</a>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 cms-content-tile-date ng-binding">
                    2015-04-18 13:30
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 cms-content-tile-owner ng-binding">
                    bcross3
                </div>
            </div>
        </div><!-- end ngRepeat: issue in $data -->
        <div class="col-xs-12 col-sm-6 col-md-2 cms-content-tile ng-scope" >
            <div class="row">
                <div class="col-xs-12">
                    <a href="#/projectview">
                    <div class="cms-content-tile-image">
                        <div class="cms-content-tile-image-dummy"></div>
                        <div class="cms-content-tile-image-color"></div>
                    </div></a>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 cms-content-tile-title">
                    <a href="#/projectview" class="ng-binding">Lorem 5</a>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 cms-content-tile-date ng-binding">
                    2015-04-15 13:30
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 cms-content-tile-owner ng-binding">
                    bcross
                </div>
            </div>
        </div><!-- end ngRepeat: issue in $data -->
        <div class="col-xs-12 col-sm-6 col-md-2 cms-content-tile ng-scope" >
            <div class="row">
                <div class="col-xs-12">
                    <a href="#/projectview">
                    <div class="cms-content-tile-image">
                        <div class="cms-content-tile-image-dummy"></div>
                        <div class="cms-content-tile-image-color"></div>
                    </div></a>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 cms-content-tile-title">
                    <a href="#/projectview" class="ng-binding">Lorem 6</a>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 cms-content-tile-date ng-binding">
                    2015-04-16 13:30
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 cms-content-tile-owner ng-binding">
                    bcross1
                </div>
            </div>
        </div><!-- end ngRepeat: issue in $data -->
        <div class="col-xs-12 col-sm-6 col-md-2 cms-content-tile ng-scope" >
            <div class="row">
                <div class="col-xs-12">
                    <a href="#/projectview">
                    <div class="cms-content-tile-image">
                        <div class="cms-content-tile-image-dummy"></div>
                        <div class="cms-content-tile-image-color"></div>
                    </div></a>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 cms-content-tile-title">
                    <a href="#/projectview" class="ng-binding">Lorem 7</a>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 cms-content-tile-date ng-binding">
                    2015-04-17 13:30
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 cms-content-tile-owner ng-binding">
                    bcross2
                </div>
            </div>
        </div><!-- end ngRepeat: issue in $data -->
        <div class="col-xs-12 col-sm-6 col-md-2 cms-content-tile ng-scope" >
            <div class="row">
                <div class="col-xs-12">
                    <a href="#/projectview">
                    <div class="cms-content-tile-image">
                        <div class="cms-content-tile-image-dummy"></div>
                        <div class="cms-content-tile-image-color"></div>
                    </div></a>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 cms-content-tile-title">
                    <a href="#/projectview" class="ng-binding">Lorem 8</a>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 cms-content-tile-date ng-binding">
                    2015-04-18 13:30
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 cms-content-tile-owner ng-binding">
                    bcross3
                </div>
            </div>
        </div><!-- end ngRepeat: issue in $data -->
        <div class="col-xs-12 col-sm-6 col-md-2 cms-content-tile ng-scope" >
            <div class="row">
                <div class="col-xs-12">
                    <a href="#/projectview">
                    <div class="cms-content-tile-image">
                        <div class="cms-content-tile-image-dummy"></div>
                        <div class="cms-content-tile-image-color"></div>
                    </div></a>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 cms-content-tile-title">
                    <a href="#/projectview" class="ng-binding">Lorem 9</a>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 cms-content-tile-date ng-binding">
                    2015-04-15 13:30
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 cms-content-tile-owner ng-binding">
                    bcross
                </div>
            </div>
        </div><!-- end ngRepeat: issue in $data -->
        <div class="col-xs-12 col-sm-6 col-md-2 cms-content-tile ng-scope" >
            <div class="row">
                <div class="col-xs-12">
                    <a href="#/projectview">
                    <div class="cms-content-tile-image">
                        <div class="cms-content-tile-image-dummy"></div>
                        <div class="cms-content-tile-image-color"></div>
                    </div></a>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 cms-content-tile-title">
                    <a href="#/projectview" class="ng-binding">Lorem 10</a>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 cms-content-tile-date ng-binding">
                    2015-04-16 13:30
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 cms-content-tile-owner ng-binding">
                    bcross1
                </div>
            </div>
        </div><!-- end ngRepeat: issue in $data -->

    </div>
    <div class="pull-right">
        <a href="#">See all Contents</a>
    </div>
</div>
